body{
    height: 100%;
}

  #footer {
  bottom: 0;
  width: 100%;
  padding: 1.5%;
  background-color: rgb(245, 228, 208);
  /* opacity: 0.8; */
  z-index: 100;
  font-size: 18px;
}

  * {
    letter-spacing: 2px;
    line-height: 30px;
  }

  .part {
    height: 55%;
    background-color: rgb(205, 191, 216);
    opacity: 0.7;
  }

  .part.website {
      height: 37.5%;
      background-color: rgb(163, 120, 163);
      opacity: 0.7;
  }

  .part.connect {
      height: 30%;
      background-color: rgb(136, 84, 136);
      opacity: 0.7;
  }


  .content {
    margin: 3% auto 1% auto;
    width: 65%;
    height: 70%;
  }

  .connect .content {
    width: 75%;
  }

  .website .content {
    /* height: 70%; */
    margin: 4% auto 1.5% auto;
  }

  .block {
    float: left;
    width: 45%;
    height: 18%;
    padding: 2%; 
    font-size: 20px;
    color:rgb(20, 14, 61);
  }

  .block.animate {

  }

  .connect .block {
    height: 40%;
    text-align: left;
    font-size: 16px;
  }

  .website .block {
    width: 29%;
    height: 45%;
    
  }

  .recentAct .block:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .siteImg:hover {
    cursor: pointer;
  }

  .siteName {
    margin-top: 2%;
  }

  .activity {
    margin: 3% 5% 4% 5%;
    padding: 3% 0% 0% 0%;
    border-top: rgb(43, 32, 61) solid 1.5px;
  }

  .place {
    font-size: 24px;
    /* line-height: 40px; */
    border-bottom: rgb(126, 108, 126) solid 1.5px;
    margin-bottom: 1%;
  }

  .more {
    width: 15%;
    height: 45px;
    margin: 3% auto;
    font-size: 16px;
    color:rgb(228, 226, 255);
    text-align: center;
    line-height: 45px;
    background-color: rgb(17, 20, 48);
    border-radius: 2px;
    transition: all 0.4s;
  }

  .more:hover{
    background-color: rgb(255, 232, 255);
    color: #1e121f;
    cursor: pointer;
    border-radius: 20px;
  }

  #info {
    position: relative;
    /* width: 80%; */
    height: 1700px;
    /* margin: 5% 7.5%; */
    /* padding: 0% 5%; */
    /* background-color: rgba(255, 255, 255, 0.3); */
  }

  .title {
    font-size: 40px;
    /* color: #613c68; */
    transform: translate3d(0, 0, 0);
    transition: all 0.5s;
    opacity: 0;
    padding-top: 3%;
  }
  
  .title.show-up {
      box-shadow: none;
      transform: translate3d(0, 10%, 0);
      opacity: 1;
  }

  #border {
    position: relative;
    margin: 5% 0%;
    width: 100%;
    height: 600px;
    /* height: 100vh; */
  }

  .border-top {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 0;
    height: 12px;
    background-color: rgb(119, 103, 129);
    border-radius: 4px;
    transition: all .4s .0s;
  }

  .border-bottom {
    position: absolute;
    bottom: 10%;
    right: 20%;
    width: 0;
    height: 12px;
    background-color: rgb(110, 110, 110);
    border-radius: 4px;
    transition: all .4s .8s;
  }

  .border-right {
    position: absolute;
    top: 10%;
    right: 20%;
    width: 12px;
    height: 0;
    background-color: rgb(125, 125, 125);
    border-radius: 4px;
    transition: all .4s .4s;
  }

  .border-left {
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 12px;
    height: 0;
    background-color: rgb(95, 95, 95);
    border-radius: 4px;
    transition: all .4s 1.2s;
  }

  .animate .border-top, .animate .border-bottom {
    width: 60%;
  }
  .animate .border-right, .animate .border-left {
    height: 80%;
  }

  .border-word {
    position: absolute;
    top: 67%;
    right: 24%;
    font-size: 44px;
    color:rgb(45, 48, 58);
    transform: translateX(-1200px);
    transition: 0s;
  }

  .word{
    display: inline-block;
    transform: translateX(-1200px);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 3s, 1.2s;
  }

  .move {
    transform: translateX(0px);
    /* transition: 0s; */
  }

  .move .word{
    display: inline-block;
    transform: translateX(0px);
    opacity: 1;
  }

  .border-word span:nth-child(2) { transition-delay: .1s }
  

  @media (max-width: 991.98px){
    .border-word {
      top: 70%;
      right: 25%;
      font-size: 36px;
    }

    .content {
      width: 80%;
    }
  }


  @media (max-width: 767.98px){
    .border-word {
      top: 67%;
      left: 25%;
      right: 25%;
      font-size: 32px;
    }

    .content {
      width: 90%;
    }

    .block {
      font-size: 18px;
      text-align: center;
    }

    .place {
      font-size: 20px;
    }

    .connect .content {
      width: 90%;
    }
    .connect .block {
      font-size: 16px;
    }

    .more {
      width: 20%;
    }
  }

  @media (max-width: 575.98px){
    .border-word {
      top: 67%;
      left: 25%;
      right: 25%;
      font-size: 28px;
    }

    .part {
      height: 70%;
    }

    .content {
      height: 82.5%;
    }

    .title {
      padding-top: 5%;
      font-size: 32px;
      margin: auto;
    }

    .block {
      width: 96%;
      height: 10%;
      margin: 0 auto;
    }

    .activity {
    margin: 1% 2.5% 2% 2.5%;
    padding: 1.5% 0% 0% 0%;
    border-top: rgb(43, 32, 61) solid 1.5px;
    }

    .more {
      width: 30%;
    }

    .part.connect {
      height: 50%;
    }

    .connect .block{
      height: 22.5%;
      padding: 3%;
    }
  }

  body {
    margin:0;
  }

  .bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(161, 138, 138) 50%, rgb(201, 159, 159) 50%);
    bottom:0;
    left:-50%;
    opacity: 0.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }

  .bg3 {
    animation-duration:10s;
  }


  /* h1 {
    font-family:monospace;
  } */

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }