<template>
  <body id='MyPage'>
    <div class='bg'></div>
    <div class='bg bg2'></div>
    <div class='bg bg3'></div>
    <div id='border'>
      <i class='border-top'></i>
      <i class='border-right'></i>
      <i class='border-bottom'></i>
      <i class='border-left'></i>
      <div class="border-word"> {{ school }} </div>
    </div>
    <div id='info'> 
      <div class='part recentAct'>
        <div class='title' > 近期活動 </div>
        <div class='content'>
          <div class='block' v-for="(acti, index) in activity" :key="(acti, index)">
            <div class='date'> {{ acti.date }} </div>
            <div class='activity'> {{ acti.head }} </div>
          </div>
        </div>
        <div class='more' > MORE... </div>
      </div>
      <div class='part website'>
        <div class='title' > 學院相關網站 </div>
        <div class='content'>
          <div class='block' v-for="(site, index) in websites" :key="(site, index)">
            <img class='siteImg' v-bind:src="site.url" :alt="site.alt"/> 
            <div class='siteName'> {{ site.name }} </div>
          </div>
        </div>
      </div>
      <div class='part connect'>
        <div class='title' > 聯絡我們 </div>
        <div class='content'>
          <div class='block' v-for="(department, index) in connects" :key="(department, index)">
            <div class='place'>  {{ department.place }} </div>
            <div class='phone'> Tel: {{ department.phone }} </div>
            <div class='fax'> Fax: {{ department.fax }} </div>
            <div class='email'> E-mail: {{ department.email }} </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</template>


<script> 

  export default {
    name: 'MyPage',
    data() {
      return {
        timer: '',
        list: [],
        school: '國立清華大學 藝術學院',
        titles: ['近期活動', '學院相關網站', '聯絡我們'],
        showTitle:['false', 'false', 'false'],

        activity: [{
            head: '藝設系學生獲獎－109年林務局「國產材設計商品比賽」決選',
            date: '2020 / 12 / 08',
          },
          {
            head: '2021 年藝術學院教育發展基金',
            date: '2020 / 12 / 01',
          },
          {
            head: '【開放報名】2020國立清華大學藝術與設計學系研究生論文研討會',
            date: '2020 / 12 / 01',
          },
          {
            head: '清華大學藝設系研究生論文研討會 – 徵稿',
            date: '2020 / 09 / 24',
          },
          {
            head: 'ARS 2020 – TSING HUA GARDEN',
            date: '2020 / 09 / 09',
          },
          {
            head: '清華藝術學報',
            date: '2020 / 07 / 31',
          },
          {
            head: '藝設系設計組-異質對話-（360展區1）',
            date: '2020 / 07 / 22',
          },
          {
            head: '華山烏梅劇場「Face to face」實驗性跨領域展演 × 四組劇場表演與一組互動裝置',
            date: '2020 / 07 / 03',
          }
        ],

        connects: [{
            place: '藝術學院',
            phone: '03-5715131 #78801、#78802',
            fax: '03-5619170',
            email: 'coa@my.nthu.edu.tw'
          },
          {
            place: '藝術設計學系',
            phone: '03-5715131 #72901、#72903',
            fax: '03-5245209',
            email: 'artist@my.nthu.edu.tw'
          },
          {
            place: '音樂學系',
            phone: '03-5715131 #73101、#73103、#73104(系辦公室)',
            fax: '03-5245192',
            email: 'dme@mail.nhcue.edu.tw'
          },
          {
            place: '藝術學院學士班(科技藝術組)',
            phone: '03-5715131 #78802 (系辦公室)',
            fax: '-',
            email: 'cwyu@mx.nthu.edu.tw'
          },
        ],
        
        websites: [{
            url: 'https://art.nthu.edu.tw/-artimg/web_artdesign.jpg',
            name: '藝術設計學系',
            alt: '藝術設計學系'
          },
          {
            url: 'https://art.nthu.edu.tw/-artimg/web_music.jpg',
            name: '音樂學系',
            alt: '音樂學系'
          },
          {
            url: 'https://art.nthu.edu.tw/-artimg/web_ipta.jpg',
            name: '科技藝術院學士班',
            alt: '科技藝術院學士班'
          },
          {
            url: 'https://art.nthu.edu.tw/-artimg/web_aet.jpg',
            name: '藝術與創新科技碩士學程',
            alt: '藝術與創新科技碩士學程'
          },
          {
            url: 'https://art.nthu.edu.tw/-artimg/web_artspeech.jpg',
            name: '春之藝術專題講座',
            alt: '春之藝術專題講座'
          },
          {
            url: 'https://art.nthu.edu.tw/-artimg/web_techart.jpg',
            name: '科技藝術研究中心',
            alt: '科技藝術研究中心'
          },
        ]
      };
    },
    methods: {
      init() {
        document.getElementById('border').className += 'animate';

        var word = document.querySelectorAll(".border-word")
        word.forEach(el=>{ 
          el.innerHTML = el.innerText
            .split(' ')
            .map(l=> l === "\n" ? `<br/>` : `<span class='word'>${l}</span>`)
            .join(' ')
        })
      },

      showWord() {
        var list = document.getElementsByClassName('border-word');
        list.forEach(el => el.className += ' move');
      },

      shake(){
        var list = document.getElementsByClassName('border-word');
        list.forEach(el => el.className += ' shake');
      },

      addClassForScroll(index) {
        if(this.showTitle[index] == 'false'){
          this.list[index].className += ' show-up';
          this.showTitle[index] = 'true';
        }
      },

      onScroll () {
        var windowHeight = window.innerHeight;
        var s0 = this.list[0].getBoundingClientRect();
        var s1 = this.list[1].getBoundingClientRect();
        var s2 = this.list[2].getBoundingClientRect();

        if ((s0.top - windowHeight) <= -windowHeight/8) {
          this.addClassForScroll(0);
          // console.log('s0 ' + (s0.top));
        }
        if((s1.top - windowHeight) <= -windowHeight/8){
          this.addClassForScroll(1);
          // console.log('s1 ' + (s1.top));
        }
        if((s2.top - windowHeight) <= -windowHeight/8){
          this.addClassForScroll(2);
          // console.log('s2 ' + (s2.top));
        }
      },

      onScroll_content() {
        var block = document.getElementsByClassName('block');
        var windowHeight = window.innerHeight;
        block.forEach(el => {
          var tmp = el.getBoundingClientRect();
          if((tmp.top - windowHeight) <= -windowHeight/8){
            el.className += ' animate';
          }
        });  
      },
    },
    mounted() {
      console.log(this.showTitle);
      this.timer = setTimeout(this.init, 250);
      this.list = document.getElementsByClassName('title');
      document.getElementsByClassName('border-bottom')[0].addEventListener("transitionend", this.showWord, false);
      document.getElementsByClassName('border-word')[0].addEventListener("transitionend", this.shake, false);
      window.addEventListener('scroll', this.onScroll);
    },
    beforeUnmount() {
      clearTimeout(this.timer);
      window.removeEventListener('scroll', this.onScroll);
    }
  }
</script>



<style>

  .MyPage{
    height: 100%;
  }

  #footer {
  bottom: 0;
  width: 100%;
  padding: 1.5%;
  background-color: rgb(245, 228, 208);
  /* opacity: 0.8; */
  z-index: 100;
  font-size: 18px;
}

  * {
    letter-spacing: 2px;
    line-height: 30px;
  }

  .part {
    height: 55%;
    background-color: rgb(205, 191, 216);
    opacity: 0.7;
  }

  .part.website {
      height: 37.5%;
      background-color: rgb(163, 120, 163);
      opacity: 0.7;
  }

  .part.connect {
      height: 30%;
      background-color: rgb(136, 84, 136);
      opacity: 0.7;
  }


  .content {
    margin: 3% auto 1% auto;
    width: 65%;
    height: 70%;
  }

  .connect .content {
    width: 75%;
  }

  .website .content {
    /* height: 70%; */
    margin: 4% auto 1.5% auto;
  }

  .block {
    float: left;
    width: 45%;
    height: 18%;
    padding: 2%; 
    font-size: 20px;
    color:rgb(20, 14, 61);
  }

  .block.animate {

  }

  .connect .block {
    height: 40%;
    text-align: left;
    font-size: 16px;
  }

  .website .block {
    width: 29%;
    height: 45%;
    
  }

  .recentAct .block:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .siteImg:hover {
    cursor: pointer;
  }

  .siteName {
    margin-top: 2%;
  }

  .activity {
    margin: 3% 5% 4% 5%;
    padding: 3% 0% 0% 0%;
    border-top: rgb(43, 32, 61) solid 1.5px;
  }

  .place {
    font-size: 24px;
    /* line-height: 40px; */
    border-bottom: rgb(168, 149, 168) solid 1.5px;
    margin-bottom: 1%;
  }

  .more {
    width: 15%;
    height: 45px;
    margin: 3% auto;
    font-size: 16px;
    color:rgb(228, 226, 255);
    text-align: center;
    line-height: 45px;
    background-color: rgb(17, 20, 48);
    border-radius: 2px;
    transition: all 0.4s;
  }

  .more:hover{
    background-color: rgb(255, 232, 255);
    color: #1e121f;
    cursor: pointer;
    border-radius: 20px;
  }

  #info {
    position: relative;
    /* width: 80%; */
    height: 1700px;
    /* margin: 5% 7.5%; */
    /* padding: 0% 5%; */
    /* background-color: rgba(255, 255, 255, 0.3); */
  }

  .title {
    font-size: 40px;
    /* color: #613c68; */
    transform: translate3d(0, 0, 0);
    transition: all 0.5s;
    opacity: 0;
    padding-top: 3%;
  }
  
  .title.show-up {
      box-shadow: none;
      transform: translate3d(0, 10%, 0);
      opacity: 1;
  }

  #border {
    position: relative;
    margin: 5% 0%;
    width: 100%;
    height: 600px;
    /* height: 100vh; */
  }

  .border-top {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 0;
    height: 12px;
    background-color: rgb(119, 103, 129);
    border-radius: 4px;
    transition: all .4s .0s;
  }

  .border-bottom {
    position: absolute;
    bottom: 10%;
    right: 20%;
    width: 0;
    height: 12px;
    background-color: rgb(110, 110, 110);
    border-radius: 4px;
    transition: all .4s .8s;
  }

  .border-right {
    position: absolute;
    top: 10%;
    right: 20%;
    width: 12px;
    height: 0;
    background-color: rgb(125, 125, 125);
    border-radius: 4px;
    transition: all .4s .4s;
  }

  .border-left {
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 12px;
    height: 0;
    background-color: rgb(95, 95, 95);
    border-radius: 4px;
    transition: all .4s 1.2s;
  }

  .animate .border-top, .animate .border-bottom {
    width: 60%;
  }
  .animate .border-right, .animate .border-left {
    height: 80%;
  }

  .border-word {
    position: absolute;
    top: 67%;
    right: 24%;
    font-size: 44px;
    color:rgb(45, 48, 58);
    transform: translateX(-1200px);
    transition: 0s;
  }

  .word{
    display: inline-block;
    transform: translateX(-1200px);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 3s, 1.2s;
  }

  .move {
    transform: translateX(0px);
    /* transition: 0s; */
  }

  .move .word{
    display: inline-block;
    transform: translateX(0px);
    opacity: 1;
  }

  .border-word span:nth-child(2) { transition-delay: .1s }
  

  @media (max-width: 991.98px){
    .border-word {
      top: 70%;
      right: 25%;
      font-size: 36px;
    }

    .content {
      width: 80%;
    }
  }


  @media (max-width: 767.98px){
    .border-word {
      top: 67%;
      left: 25%;
      right: 25%;
      font-size: 32px;
    }

    .content {
      width: 90%;
    }

    .block {
      font-size: 18px;
      text-align: center;
    }

    .place {
      font-size: 20px;
    }

    .connect .content {
      width: 90%;
    }
    .connect .block {
      font-size: 16px;
    }

    .more {
      width: 20%;
    }
  }

  @media (max-width: 575.98px){
    .border-word {
      top: 67%;
      left: 25%;
      right: 25%;
      font-size: 28px;
    }

    .part {
      height: 70%;
    }

    .content {
      height: 82.5%;
    }

    .title {
      padding-top: 5%;
      font-size: 32px;
      margin: auto;
    }

    .block {
      width: 96%;
      height: 10%;
      margin: 0 auto;
    }

    .activity {
    margin: 1% 2.5% 2% 2.5%;
    padding: 1.5% 0% 0% 0%;
    border-top: rgb(43, 32, 61) solid 1.5px;
    }

    .more {
      width: 30%;
    }

    .part.connect {
      height: 50%;
    }

    .connect .block{
      height: 22.5%;
      padding: 3%;
    }
  }

  body {
    margin:0;
  }

  .bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(157, 138, 161) 50%, rgb(184, 159, 201) 50%);
    bottom:0;
    left:-50%;
    opacity: 0.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }

  .bg3 {
    animation-duration:10s;
  }


  /* h1 {
    font-family:monospace;
  } */

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
</style>