<template>
  <div>
    <div id="nav">
      <router-link to="/"> 首頁 </router-link> | 
      <router-link to="/about"> 關於學院 </router-link> |
      <router-link to="/about"> 學院師資 </router-link> |
      <router-link to="/about"> 學院規章 </router-link> |
      <router-link to="/about"> 招生訊息 </router-link> |
      <router-link to="/about"> 榮譽榜 </router-link> |
      <router-link to="/about"> 活動花絮 </router-link> |
      <router-link to="/about"> 藝院影音 </router-link> |
      <router-link to="/about"> 藝術學報 </router-link>
    </div>
  <router-view/>
  </div>

</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1e121f;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5%;
  background-color: rgb(245, 232, 208);
  /* opacity: 0.8; */
  z-index: 100;
  font-size: 18px;
}

#nav a {
  font-weight: bold;
  color: #613c68;
}

#nav a.router-link-exact-active {
  color: #090913;
}

.navbar-toggler {
  display: none;
}

@media (max-width: 767.98px){
    #nav {
      height: 12.5%;
      width: 60%;
    }
}

@media (max-width: 575.98px){
    #nav{

    }
}

</style>
